// Required Parameters
params.reads = "/scratch/cgsb/gencore/out/Siegal/2024-08-14_HWMMFDMXY/merged/*fastq*"
params.ref = "$HOME/Sequencing/Reference/*.fna"
params.outdir = "/scratch/cgsb/siegal/Cassandra_2024/Aug2024_HWMMFDMXY"
params.fcid = "HWMMFDMXY"
params.adapters = "/share/apps/trimmomatic/0.36/adapters/NexteraPE-PE.fa"
params.hc_config = ""

// Set the Nextflow Working Directory
// By default this gets set to params.outdir + '/nextflow_work_dir'
workDir = params.outdir + '/nextflow_work_dir'

// slurm and resource allocation
process {
    executor = 'slurm'
    clusterOptions = '--export=NONE'
    cpus = 10
    memory = { 32.GB * task.attempt }
    time = { 120.min * task.attempt }
    errorStrategy = 'retry'
    maxRetries = 5
    withName: markDuplicatesSpark { memory = '128 GB' }
}
